/* COLORS
blue : #19547b / rgb(25, 84, 123)
blue - hover : #143f5c
blue - brighter : rgb(18, 113, 177)
yellow : #ffd89b / 	rgb(255, 216, 155)
font-basic: #333
font-white : #fff
font-white-dim : #ddd
border: #555 , #bbb
horizontal rule: #ccc

BREAKPOINTS 
small : min-width: 576px
medium : min-width: 768px
large : min-width: 1200px
*/

/* BASE STYLES */ 
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

@media (min-width: 768px){
    html {
        font-size: 17px;
    }
}

body {
    margin: 0;
    font-family: "Roboto Mono", "Courier New", Courier, monospace;
    color: #333;
    line-height: 1.6;
    background-color: #fdfdfd;
}

h1, h2, h3, h4 {
    font-weight: 400;
    color: #333;
    margin: 1rem 0;
}

b {
    font-weight: 400;
    text-decoration: underline;
}

h1 {
    font-size: 1.602rem;
}
h2 {
    font-size: 1.424rem;
}
h3 {
    font-size: 1.266rem;
}
h4 {
    font-size: 1.125rem;
}

p {
    font-size: 1rem;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    color: rgb(18, 113, 177);
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}

/* LAYOUT */ 
.container {
    max-width: 820px ;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 1200px){
    .container {
        max-width: 1040px;
    }
}

.section {
    padding-right: 110px;
    padding-left: 110px;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
    margin-bottom: 3.5rem;
    border-radius: 8px;
}

@media (max-width: 1199.98px) {
    .section {
        border: none;
        padding-right: 15px;
        padding-left: 15px;
    }
    .section:not(:last-child){
        padding-bottom: 1rem;
        background-image: linear-gradient(to right, #ccc , #ccc);
        background-position: center 100%;
        background-repeat: no-repeat;
        background-size: 120px 1px;
        margin-bottom: 2rem;
    }
}

.section:nth-of-type(1){
    margin-top: 4rem;
}

@media(max-width: 767.98px){
    .section {
        padding-right: 0;
        padding-left: 0;
    }
    .section:nth-of-type(1){
        margin-top: 3.5rem;
    }
}

/* COMPONENTS */ 
/* header */ 
.header {
    background: rgba(25, 84, 123, 0.8); /* fallback for old browsers */
    background: -webkit-linear-gradient(345deg, rgba(25, 84, 123, 0.8), rgba(25, 84, 123, 0.8));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(345deg, rgba(25, 84, 123, 0.8), rgba(255, 216, 155, 0.8)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-attachment: scroll;
}
@media (min-width: 768px){
    .header {
        background-attachment: fixed; /* parallax */
    }
}

/* header box */ 
.header-introduction {
    width: 440px;
    border: 1px solid #555;
    position: relative;
    bottom: 6%;
    text-align: center;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.header-links {
    position: relative;
    top: 10%;
}
@media(max-height: 450px){
    .header-links {
        top: 5%;
    }
}

.header-links a {
    font-size: 1.6rem;
    padding: 0.2rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    color: #333;
    opacity: 0.8;
}
.header-links a:hover {
    color: #19547b;
    opacity: 1; 
}

.far.fa-envelope{   /* align adjustment */ 
    padding-left: 0.04em;
    vertical-align: -0.04em;
}

@media (max-width: 575.98px) {
    .header-introduction {
        width: 100%;
    }
}

/* menu */ 
.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 300px;
    text-align: right;
    /* transition */ 
    -webkit-transition: width 0.5s; /* Safari */
    transition: width 0.5s;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.menu-hidden {
    width: 0;
}

.menu-container {
    margin-top: 70px;
    margin-right: 20px;
    display: inline-block;
}

.menu ul {
    list-style-type: none;
    text-align: right;
    line-height: 1.6;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.menu a:hover {
    color:#ffd89b;
}

/* toggler */ 
.toggler {
    z-index: 2;
    position: fixed;
    top: 15px;
    right: 15px; 
    padding: 5px;
    color: #333;
    font-size: 1.7rem;
    opacity: 0.8;
}
.toggler:hover {
    color: #19547b;
    opacity: 1;
}

.toggler-on {
    color: #ddd; 
    font-size: 1.8rem;
    opacity: 1;
}
.toggler-on.toggler:hover {
    color: #19547b;
    opacity: 1;
}

/* toggle on touch devices */ 
.touch-device .toggler:hover {
   color: inherit;
<<<<<<< HEAD
   opacity: 0.8;
=======
>>>>>>> 9d110b71b54f46a07bf0cd3fc9fefc06327027ce
}
.touch-device .toggler-on.toggler:hover {
    color: #ddd;
 }

/* buttons */ 
.button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    line-height: 1.5;
    border-radius: 3px;
    display: inline-block;
}

.button-primary {
    padding: 0.375rem 0.75rem;
    color:#19547b;
    /* -webkit-box-shadow: 0 0 0 1px #19547b inset;
    box-shadow: 0 0 0 1px #19547b inset; */
    border: 1px solid #19547b;
    margin-bottom: 15px;
    margin-top: 5px;
}
.button-primary:hover {
    color:#143f5c;
    border: 1px solid #143f5c; 
    /* -webkit-box-shadow: 0 0 0 1px #143f5c  inset;
    box-shadow: 0 0 0 1p #143f5c inset; */
}

.button-small {
    font-size: 0.889rem;
    width: 4.7rem;
    text-align: center;
    padding: 0.3rem 0.4rem;
    margin-left: 0.3rem;
    color: 	rgb(18, 113, 177);
    border: 1px solid #bbb;
}
.button-small:hover {
    border: 1px solid rgb(18, 113, 177);
}

/* media object */ 
.project-block {
    margin: 2.1rem 0;
}

.project-block:last-child {
    padding-bottom: 0.5rem;
}

.project-block:after {
    content: " ";
    display: block;
    clear: both;
}

.project-image {  
    position: relative;
    width: 40%;
    float: left;
    border-radius: 3px;
    background-color: #000;
}

.project-image:hover img {
    opacity: 0.5;
}

.project-image:hover > .project-image-text {
    opacity: 1;
}

.project-image img {
    width: 100%;
    float: left;
    box-shadow: 0px 0px 2px #bbb;
    border-radius: 3px;
    transition: opacity 0.5s;
}

.project-image > .project-image-text {
    color: #fff;
    text-decoration: none;
    font-size: 0.889rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s;
}

.project-block > .project-text {
    padding-left: calc(40% + 40px);
}

@media (max-width: 575.98px) {
    .project-block {
        margin-bottom: 2.3rem;
    }
    .project-block > .project-image { 
        width: 100%;
    }

    .project-block > .project-text {
        padding-top: 1px;
        clear: both;
        padding-left: inherit;
    }
    .project-block:not(:last-child) {
        padding-bottom: 5px;
        background-image: linear-gradient(to right, #ccc , #ccc);
        background-position: center 100%;
        background-repeat: no-repeat;
	    background-size: 70px 1px;
    }
}

.project-links {
    text-align: right;
    margin-bottom: 1rem;
}
@media(min-width: 576px){
    .project-links {
        margin-bottom: 0.5rem;
    }
}

/* footer */ 
.footer {
    text-align: center;
    margin-top: 6rem;
    padding: 1rem 0;
    background: rgba(60, 104, 128, 0.5);  /* fallback for old browsers */
    background: -webkit-linear-gradient(345deg,	rgba(60, 104, 128, 0.5),rgba(220, 196, 150, 0.5));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(345deg,	rgba(60, 104, 128, 0.5),rgba(220, 196, 150, 0.5)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer p {
    font-size: 0.889rem;
}

/* BROWSER SUPPORT */ 
main {
    display: block; /* IE */ 
}
