* {
    box-sizing: border-box;
}

p {
    font-size: 19px;

}

body {
    margin: 0;
    font-family: "Courier New", Courier, monospace;
    color: 
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 300px;
    text-align: right;
    /* transition */ 
    -webkit-transition: width 0.5s; /* Safari */
    transition: width 0.5s;
    background-color: rgba(0, 0, 0, 0.75);
}

.menu-hidden {
    width: 0;
}

.menu-container{
    margin-top: 70px;
    margin-right: 20px;
    display: inline-block;
}

.menu ul {
    list-style-type: none;
    text-align: right;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.menu a:hover {
    color:#ffd89b;
}

.menu li {
    
}

.header {
    background: #19547b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(345deg, #19547b, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(345deg, #19547b, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center; 
    /* parallax */
    background-attachment: fixed;
}

.header-introduction {
    width: 400px;
    border: 1px solid black;
    position: relative;
    bottom: 10%;
    text-align: center;
    border-radius: 3px;
}

@media (max-width: 575.98px) {
    .header-introduction {
        width: 90%;
    }
}



hr {
    width: 15%;
}

.toggler {
    z-index: 1;
    position: fixed;
    top: 15px;
    right: 15px; 
    padding: 5px;
    font-size: 1.9rem;
    opacity: 0.8;
}

.toggler-on {
    color: #ddd; 
    font-size: 2rem;
    opacity: 1;
}

.toggler:hover {
    color: #19547b;
    opacity: 1;
}

.toggler-on.toggler:hover {
    color: #19547b;
    opacity: 1;
}


/* SECTIONS */ 

.section {
    margin: 0 auto;
    padding-right: 60px;
    padding-left: 60px;
    max-width: 960px;
    border-right: 1px solid #BBB;
    border-left: 1px solid #BBB;
    margin-bottom: 3rem;
}

.section:nth-of-type(1){
    margin-top: 4rem;
}

/* media object */ 

.project-block {
    margin-bottom: 2rem;
}

.project-block:after {
    content: " ";
    display: block;
    clear: both;
}

.project-block > img {  
    width: 35%;
    box-shadow: 0px 0px 2px #bbb;
    float: left;
    border-radius: 3px;
}

.project-block > .project-text {
    padding-left: calc(35% + 30px);
}



@media (max-width: 767.98px) {
    .project-block > img { 
        float: none;
        width: 100%;
    }
    .project-block > .project-text {
        padding-left: inherit;
    }
}
